*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: GreatVibes;
    src: url(../GreatVibes/GreatVibes-Regular.ttf);
}

/*Heading nav css codes starts*/
.div_one{
    background-image: url(../Images/fishglass.jpg);
    height: 650px;
}

div .nav_one{
    background-color: #292928;
}

div .heading_logo_and_text{
    display: inline-block;
}

div .logo_img{
    width: 100px;
    height: 80px;
    padding-left: 35px;
}

div .logo_text{
    font-family: GreatVibes;
    font-size: 20px;
    color: gold;
    padding-left: 43px;
}

div .nav_text{
    float: right;
    padding-top: 45px;
    padding-right: 60px;
}

div .nav_text a{
    font-family: sans-serif;
    font-size: 17px;
    color: gold;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 50px;
}

div .nav_text a:hover{
    color: white;
    transform: translate(10px,0px);
    transition-duration: 0.5s;
}

div nav .text_on_background{
    position: relative;
    color: gold;
    font-family: GreatVibes;
    font-size: 60px;
    left: 300px;
    top: 200px;
}

div nav .button_on_background{
    position: relative;
    background-color: gold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 7px 12px 7px 12px;
    left: 300px;
    top: 200px;
    border: 1px solid white;
    border-radius: 10px;
}

.grid_body{
    display: grid;
    grid-template-columns: 600px auto auto;
    background-color: gold;
    font-family: sans-serif;
    height: 200px;
}

div .grid_for_create{
    grid-row-start: 1;
    grid-row-end: 3;
    border: 3px solid #292928;
}

div .grid_for_quantity, .grid_for_quantity, .grid_for_sunshine, .grid_for_fermentation, .grid_for_taste{
    border: 2px solid #292928;
}