body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: SourceSansPro-Regular;
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url(./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}


/* Home Page */

.header {
    background-color: rgb(77, 77, 196);
}

.header .nav_bar {
    max-width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px black;
}

.header .nav_bar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.body .body_text {
    font-size: 18px;
    color: rgb(77, 77, 196);
    text-align: center;
    width: 40%;
}

.body .body_text span {
    font-size: 30px;
}

.animate__animated.animate__fadeInTopLeft {
    --animate-duration: 1.8s;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer a {
    padding-left: 10px;
    padding-right: 10px;
}

.footer a i {
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 23px;
    background-color: rgb(77, 77, 196);
    transition: 0.5s;
}

.footer a i:hover {
    transform: scale(1.2);
}


/* About Page */

.about {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.about .my_img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 150px;
    border: 10px solid rgb(77, 77, 196);
    filter: brightness(1.5);
}

.about h1 {
    border-bottom: 1px solid rgb(77, 77, 196);
    max-width: 150px;
    margin-left: 220px;
}

.about .body_text {
    font-size: 18px;
    text-align: center;
    margin-top: 80px;
    margin-right: 20px;
    margin-bottom: 130px;
    color: rgb(77, 77, 196);
}

.about .body_text h1,
.about .body_text p {
    margin-right: 90px;
}

.about .body_text .myself {
    background-color: white;
    margin-top: 40px;
    margin-left: 190px;
    text-align: start;
}

.animate__animated.animate__zoomIn {
    --animate-duration: 2s;
}


/* Contact Section */

.contact {
    height: 60vh;
    display: inline;
    text-align: center;
    color: rgb(77, 77, 196);
}

.contact .heading {
    display: block;
    margin-top: 10vh;
    width: 23%;
    border-bottom: 1px solid rgb(77, 77, 196);
    margin-left: auto;
    margin-right: auto;
}

.animate__animated .animate__fadeInLeft {
    --animate-duration: 1.8s;
}

.contact .icon_text {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 8%;
    margin-bottom: 110px;
}


/* Education */

.education {
    color: rgb(77, 77, 196);
    margin-bottom: 30px;
}

.education .bachealor,
.education .diploma,
.education .jlpt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    gap: 20px;
    max-width: 40%;
    height: 130px;
    background-color: white;
    box-shadow: -3px 3px 10px rgb(77, 77, 196);
}

.education .bachealor .bachealor_logo {
    padding-top: 30px;
}

.education .jlpt .jlpt_text {
    padding-right: 30px;
}

.animate__animated.animate__backInDown {
    --animate-duration: 1.8s;
}


/* Project Page */

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5%;
    color: rgb(77, 77, 196);
}

.animate__animated .animate__heartBeat {
    --animate-duration: 60s;
}

@media (max-width: 530px) {
    .header.nav_bar {
        height: 30px;
    }
    .header .nav_bar a {
        font-size: 10px;
    }
    .header .nav_bar img {
        width: 27px;
        height: 18px;
    }
    .body {
        height: 55vh;
    }
    .body .body_text {
        font-size: 13px;
    }
    .body .body_text span {
        font-size: 15px;
    }
    .footer a i {
        font-size: 10px;
        padding: 5px;
    }
}

@media (max-width: 400px) {
    .body {
        height: 45vh;
    }
    .body .body_text {
        font-size: 10px;
    }
    .body .body_text span {
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .header .nav_bar {
        height: 30px;
    }
    .header .nav_bar a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .header .nav_bar img {
        width: 20px;
        height: 13px;
    }
}

@media (max-width: 2560px) {
    .about {
        display: grid;
        grid-template-columns: 30% 70%;
        height: 1000vh;
    }
    .about .my_img {
        margin-left: auto;
        margin-right: auto;
    }
}