*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    src: url(../GreatVibes/GreatVibes-Regular.ttf);
    font-family: GreatVibes;
}
@font-face{
    src: url(../Merienda/Merienda-Regular.ttf);
    font-family: Merienda;
}

.nav_background{
    background-color: #16191C;
}

.logo{
    width: 110px;
    height: 90px;
    display: block;
    padding-left: 30px;
}

.brand_name{
    font-family: GreatVibes;
    padding-left: 55px;
    text-decoration: none;
    color: white;
}

.nav_brand{
    display: inline-block;
}

.nav_background ul{
    float: right;
}

.nav_background ul li{
    display: inline-block;
    padding-top: 45px;
    padding-right: 40px;
    color: white;
    text-transform: uppercase;
}

.nav_background ul li:hover{
    color: yellow;
    transform: translate(4px,-5px);
    transition-duration: .3s;
}

.background{
    background-image: url(../Images/fishglass.jpg);
    height: 650px;
}

.beerbar{
    position: absolute;
    top: 300px;
    left: 370px;
    color: gold;
    font-size: 40px;
    font-family: GreatVibes;
}

.button{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: black; 
}

/*grid_body*/
div.grid_body{
    background-color: #16191C;
    height: 350px;
    display: grid;
    grid-template-columns: 600px auto auto;
    text-align: center;
}

div.grid_body .grid_one{
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: justify;
    padding: 100px 100px 0px 100px;
    background-color: black;
    color: white;
    border: 4px solid #16191C;
}

.perfect{
    color: gold;
}

.read_more{
    background-color: yellow;
    color: black;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    margin-top: 15px;
}

div.grid_body .grid_other{
    background-color: black;
    color: white;
    border: 4px solid #16191C;
    padding: 30px 30px 0px 30px;
}

/*float start*/
div.boxshow_img img{
    width: 500px;
    height: 350px;
    margin-top: 100px;
    margin-left: 100px;
    border: 1px solid black;
    float: left;
}

div.boxshow_img .boxshow_text{
    position: relative;
    top: 150px;
    left: 80px;
    width: 90%;
    text-align: justify;
}

div.clear{
    clear: both;
}

div nav.tins_nav{
    margin-top: 100px;
    background-color: black;
    height: 300px;
}

.tins_img{
    float: right;
}

.tins_text{
    color: white;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 650px;
    text-align: justify;
}

div nav h2{
    margin-top: 15px;
    margin-bottom: 15px;
}

/*date start*/
div.october{
    float: left;
    width: 450px;
    height: 200px;
    margin-left: 100px;
    margin-top: 65px;
    margin-bottom: 65px;
    text-align: justify;
}

div.october h2{
    padding-bottom: 15px;
}

div.december{
    float: right;
    width: 450px;
    height: 200px;
    margin-right: 100px;
    margin-top: 65px;
    text-align: justify;
}

div.december h2{
    padding-bottom: 15px;
}

.footer{
    color: white;
    background-color: black;
    height: 90px;
    margin-top: 0px;    
}

.footer_design{
    padding: 40px 0px 0px 90px;
    float: left;
}

.footer a{
    float: right;
    margin-right: 50px;
    margin-top: 35px;
    color: gold;
}

/*Contact_Codes*/
div.location_grid{
    background-color: gold;
    display: grid;
    grid-template-columns: 600px auto;
}

div .location_one{
    padding: 60px 0px 50px 90px;
    height: 400px;
}

div .location_one iframe{
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

div.location_grid .location_one p{
    display: inline-block;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 20px;    
}

div.location_two h3{
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 150px;
}

div.location_two form{
    font-family: sans-serif;
    padding: 0px 0px 0px 210px;
}

div.location_two form input[type="text"],[type="number"]{
    border-radius: 5px;
    width: 275px;
    height: 30px;
}

div.location_two form #commentbox{
    border-radius: 5px;
    width: 275px;
    height: 100px;
}

div.location_two form .comment_submit{
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: yellow;
    color: black;
    margin-left: 110px;
}

div.location_two form p{
    padding-left: 60px;
    font-family: Merienda;
}

/*About_codes*/
div.about_us nav{
    background-color: yellow;
    height: 1050px;
}

div.about_us nav h1{
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    padding-top: 20px;
}

div.about_us nav h2{
    text-align: center;
    font-family: GreatVibes;
}

div.about_us nav p{
    text-align: center;
    padding: 0px 150px 0px 150px;
    font-family: sans-serif;
}

/*Shop_codes*/
div.shop_grid nav{
    background-color: gold;
    display: grid;
    grid-template-columns: 600px auto auto;
    height: 470px;
    text-align: center;
}

div.shop_grid nav .shop_grid_one{
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 10px 0px 0px 8px;
}

div.shop_grid nav .shop_grid_other .shop_img_one{
    padding: 10px 0px 0px 12px;
}

div.shop_grid nav .shop_grid_other .shop_img_two{
    padding: 10px 3px 0px 0px;
}

div.shop_grid nav .shop_grid_other .shop_img_three{
    padding: 0px 0px 0px 12px;
}

div.shop_grid nav .shop_grid_other .shop_img_four{
    padding: 0px 3px 0px 0px;
}

div.shop_menu{
    height: 600px;
    background-image: url(../Images/yellow_bg.jpg);
    background-size: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

div nav.menu_one{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url(../Images/black_background.jfif);
    background-position: center;
    margin: 50px 50px 50px 70px;
    width: 330px;
}

div.shop_menu nav h3{
    color: yellow;
    font-family: Merienda;
}

div.shop_menu nav ul{
    font-family: Merienda;
    color: yellow;
    text-align: left;
    margin-left: 70px;
    margin-top: 43px;
}

div nav.menu_two{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url(../Images/black_background.jfif);
    background-position: center;
    margin: 50px 50px 50px 10px;
    width: 330px;
}

div nav.menu_two table{
    margin-left: 50px;
    margin-top: 30px;
}

div nav.menu_three{
    border: 1px solid black;
    border-radius: 10px;
    background-image: url(../Images/black_background.jfif);
    background-position: center;
    margin: 50px 50px 50px 10px;
    width: 330px;
}

div nav.menu_three .tgif_promo{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
}