*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: GreatVibes;
    src: url(GreatVibes/GreatVibes-Regular.ttf);
}

.nav_background{
    background-color: #16191c;
}

.logo{
    width: 110px;
    height: 70px;
    display: block;
    margin-left: 30px;
}

.brand_name{
    font-family: GreatVibes;
    color: white;
    text-decoration: none;
    margin-left: 56px;
}

.nav_brand{
    display: inline-block;
}

.nav_background ul{
    float: right;
}

.nav_background ul li{
    display: inline-block;
    color: white;
    margin-right: 20px;
    margin-top: 35px;
    text-transform: uppercase;
}      

.nav_background ul li:hover{
    color: yellow;
    transform: translate(4px,-5px);
    transition-duration: .5s;
}

.background{
    background-image: url(images/Image20210819194026.jpg);
    height: 650px;
}

.beer_bar{
    position: absolute;
    top: 300px;
    left: 370px;
    color: gold;
    font-size: 40px;
    font-family: GreatVibes;
}

.button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;

}