<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex-1 Document</title>
</head>
<body>
    <div id="app">
        <table border="1" cellpadding=10>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Photo</th>
                    <th>Myanmar</th>
                    <th>English</th>
                    <th>Maths</th>
                    <th>Total</th>
                    <th>Marks</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(stud,index) in students">
                    <td>{{++index}}</td>

                    <td>{{stud.name}}</td>
                    <td>{{stud.gender}}</td>
                    <td>
                        <img v-bind:src="stud.url" alt="" width="50px">
                    </td>
                    <td>
                        <span v-if="stud.myan>=75">Distination</span>
                        <span v-else-if="stud.myan>=40 && stud.myan<75">Passed</span>
                        <span v-else>Failed</span>
                    </td>
                    <td>
                        <span v-if="stud.eng>=75">Distination</span>
                        <span v-else-if="stud.eng>=40 && stud.eng<75">Passed</span>
                        <span v-else>Failed</span>
                    </td>
                    <td>
                        <span v-if="stud.maths>=80">Distination</span>
                        <span v-else-if="stud.maths>=40 && stud.maths<80">Passed</span>
                        <span v-else>Failed</span>
                    </td>
                    <td>
                        <button v-on:click="check">Check</button>
                    </td>
                </tr>         
            </tbody>
        </table>
    </div>
    
    <!--JS-->
    <script src="vue.min.js"></script>
    <script>
        var rank = new Vue({
            el: '#app',
            
            data: {
                no: '',
                students: [
                    {name: 'Mg Mg', gender: 'male', url: 'images/icon1.png', myan: 80, eng: 70, maths: 40},
                    {name: 'Ma Ma', gender: 'female', url: 'images/icon2.png', myan: 40, eng: 30, maths: 50},
                    {name: 'Ko Ko', gender: 'male', url: 'images/icon3.png', myan: 70, eng: 80, maths: 60},
                    {name: 'Ni Ni', gender: 'female', url: 'images/icon4.png', myan: 50, eng: 75, maths: 85},
                    {name: 'Nyi Nyi', gender: 'male', url: 'images/icon5.png', myan: 60, eng: 70, maths: 35}
                ]
            },

            methods: {
                check(){
                   alert(`Marks in each subject of ${this.students[2].name}
                   Myanmar : ${this.students[2].myan}
                   English : ${this.students[2].eng}
                   Maths : ${this.students[2].maths}`)                                       
                }
            }
        })
        Vue.config.devtools = true
    </script>
</body>
</html>