<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
    <link rel="icon" href="images/bmi_logo.png">

    <link rel="stylesheet" href="boostrap/css/bootstrap.min.css">
    <script src="boostrap/js/bootstrap.bundle.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#"><img src="images/bmi_logo.png" height="50" width="50" alt=""></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <h4 class="text-success">Calculate You Body Mass Index (BMI)</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ps-5 pt-5">
                    <div class="text-center">
                        <h5 class="bg-success text-light text-center py-2 mb-5 rounded-pill">BMI Calculator</h5>
                        <div id="app">
                            <label for="">Weight in lbs : </label>
                            <input type="number" v-model.number="weight" class="mb-3"><br>
                    
                            <label for="">Height in feet : </label>
                            <input type="number" v-model.number="height_feet" class="mb-3"><br>
                            <label for="">Height in inches : </label>
                            <input type="number" v-model.number="height_inches" class="mb-3"><br>
                            
                            <div class="text-center mb-3">
                                <button v-on:click="calculate" class="px-2 py-1 text-light bg-success border-0 rounded">Calculate</button>
                            </div>
                    
                            <p class="text-center">Your BMI is <span v-html="bmi"></span></p><br>

                            <div class="text-center">
                                <span v-for="bmi">
                                    <span v-if="bmi<=0"></span>
                                    <span v-else-if="bmi>0 && bmi<=16.0">You are <span class="text-primary">Severely Underweight</span>.</span>
                                    <span v-else-if="bmi>16.0 && bmi<=18.4">You are <span class="text-primary">Underweight</span>.</span>
                                    <span v-else-if="bmi>18.4 && bmi<=24.9">Congratulations! You are <span class="text-success">Normal Weight</span>.</span>
                                    <span v-else-if="bmi>24.9 && bmi<=29.9">You are <span class="text-warning">Overweight</span>.</span>
                                    <span v-else-if="bmi>29.9 && bmi<=34.9">You are <span class="text-danger">Moderately Obese</span>.</span>
                                    <span v-else-if="bmi>34.9 && bmi<=39.9">You are <span class="text-danger">Severely Obese</span.></span>
                                    <span v-else-if="bmi>40">You are <span class="text-danger">Morbidly Obese</span>.</span>                                    
                                </span>
                            </div>
                        </div>

                        <script src="vue.min.js"></script>
                        <script>
                            new Vue({
                                el: '#app',
                                
                                data: {
                                    weight: 0,
                                    height_feet: 0,
                                    height_inches: 0,
                                    bmi: 0
                                },
                    
                                methods: {
                                    calculate(){
                                        var weight_for_bmi = this.weight*703
                                        // console.log(weight_for_bmi);
                    
                                        var height_for_bmi = (this.height_feet*12)+this.height_inches
                                        // console.log(height_for_bmi);
                    
                                        var bmi = weight_for_bmi/(height_for_bmi*height_for_bmi)
                                        console.log(bmi)
                                        var result = bmi.toFixed(2)
                                        this.bmi = result
                                    }
                                }
                            })  
                            Vue.config.devtools = true
                        </script>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 p-5">
                    <div class="ms-5">
                        <table class="table table-bordered bg-dark text-light">
                            <thead>
                                <tr>
                                    <th>BMI</th>
                                    <th>Category</th>
                                </tr>                            
                            </thead>
                            <tbody>
                                <tr class="bg-primary">
                                    <td>Under 16.0</td>
                                    <td>Severely Underweight</td>
                                </tr>
                                <tr class="bg-primary">
                                    <td>16.0 - 18.4</td>
                                    <td>Underweight</td>
                                </tr>
                                <tr class="bg-success">
                                    <td>18.5 - 24.9</td>
                                    <td>Normal Weight</td>
                                </tr>
                                <tr class="bg-warning">
                                    <td>25.0 - 29.9</td>
                                    <td>Overweight</td>
                                </tr>
                                <tr class="bg-danger">
                                    <td>30.0 - 34.9</td>
                                    <td>Moderately Obese</td>
                                </tr>
                                <tr class="bg-danger">
                                    <td>35.0 - 39.9</td>
                                    <td>Severely Obese</td>
                                </tr>
                                <tr class="bg-danger">
                                    <td>Over 40.0</td>
                                    <td>Morbidly Obese</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</body>
</html>