div.gridone div,div.gridtwo div,div.gridthree div,div.gridfour div,div.gridfive div,div.gridsix div{
    padding: 20px;
    text-align: center;
    border: 1px solid white;
}

.gridone,.gridtwo,.gridthree,.gridfour,.gridfive,.gridsix{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridtwo{
    grid-column-gap: 40px;
}

.gridthree{
    grid-row-gap: 30px;
}

.gridfour{
    grid-gap: 50px;
}

.gridfive .one{
    grid-column-start: 1;
    grid-column-end: 4;
}

.gridsix .two{
    grid-row-start: 1;
    grid-row-end: 3;
}