.relative_parent{
    border: 1px solid red;
    width: 1000px;
    height: 500px;
}

.relative_parent .relative{
    position: relative;
    width: 300px;
    height: 100px;
    top: 300px;
    left: 300px;
    border: 1px solid black;
}

.absolute_parent{
    position: relative;
    border: 1px solid red;
    width: 1000px;
    height: 500px;
}

.absolute_parent .absolute{
    position: absolute;
    border: 1px solid green;
    top: 40px;
    left: 50px;
}

.fixed{
    position: fixed;
    top: 100px;
    left: 50px;
}