h4{
    /*color: red; text*/
    /*color: #f0000; HEX code*/
    /*color: #f00; Short HEX code*/
    color: rgb(255, 0, 0);
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}

span{
    word-spacing: 15px;
    line-height: 30px;
}

/*Universal Selector*/
*{
    color: red;
    margin: 0px;
    padding: 0;
}

/*Tag Selector (or) Element Selector*/
h2{
    color: green;
    font-size: 30px;
    text-align: center;
}

/*Attribute Selector*/
a[target="_blank"]{
    text-decoration: none;
}
input[type=""]{

}

/*ID Selector*/
#idselector{
    color: green;
    letter-spacing: 10px;
}

/*Class Selelector*/
.classone{
    color: green;
    text-indent: 50px;
}

/*Descendant Selector*/
p.desc a{
    color: green
}

/*Child Selector*/
p.child > a{
    color: green;
}

/*Pseudo Selector*/
a{
    color: blue;
}
a:hover{
    color: yellow;
}
a:active{
    color: green;
}
a:visited{
    color: black;
}

/*Target*/
div:target{
    color: goldenrod;
    border: 1px solid black;
}

/*Student Register*/
form{
    width: 80%;
    /*background-color: red*/
    margin: auto;
}

input[type="text"],input[type="number"],input[type="email"]{
    width: 100%;
    border: 2px solid #ccc;
    background-color: grey;
    padding: 10px;
    outline: none;
    transition: 0.5s;
}

input[type="text"]:focus,input[type="number"]:focus,input[type="email"]:focus{
    /*background-color: red*/
    border:  3px solid red;
}

div.dov_select{
    width: 90%;
}

div.dov_select{    
    width: 30%;
    padding: 7px;
    outline: none;
    border-radius: 5px;
}

input[type="radio"]:checked+label{
    color: red;
    font-weight: bold;
}

#Address{
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid #555;
    border-radius: 30px;
}

input[type="checkbox"]:enabled + label{
    color: yellow;
}

input[type="checkbox"]:checked + label{
    font-style: italic;
    color: red;
}

input[type="checkbox"]:disabled + label{
    color: wheat;
}

/*Fieldset*/
.rule_fieldset legend{
    color: white;
    background-color: red;
    margin: 30px 0px
}

p{
    text-indent: 50px;
    margin-bottom: 40px;
}

ul li{
    width: 80%;
    margin-left: 50px;
}

li:first-child{
    background-color: yellow;
}

li:last-child{
    background-color: green;
}

li:nth-child(3){
    background-color: goldenrod;
}

p:empty{
    height: 20px;
    background-color: #607d88;
}

.thankyou{
    text-align: center;
}

